<app-topbar></app-topbar>
<div class="container align-start">
  <div class="row">
    <button (click)="addChart()" class="btn btn-primary col-sm">Add chart</button>
    <input type="text" class="form-control col-sm" placeholder="Chart name" [(ngModel)]="chartName">
    <button (click)="removeChart()" class="btn btn-primary col-sm">Remove chart</button>
  </div>
</div>

<div  class="pt-5 pb-5">
  <div *ngFor="let chart of charts;">
    <app-chart [chartData]="chart" [dateFilter]="dateFilter" [charts]="charts"></app-chart>
  </div>
</div>
