<app-topbar></app-topbar>
<h1>Dashboard</h1>
<div *ngIf="(dateFilter); let dateFilter; else dateFilterFilled">
  <h2>{{dateFilter.from}}</h2>
  <h2>{{dateFilter.to}}</h2>
</div>

<button (click)="addChart()" class="btn btn-primary">Add chart</button>
<input type="text" class="form-control" placeholder="Chart name" [(ngModel)]="chartName">


<button (click)="removeChart()" class="btn btn-primary">Remove chart</button>


<div *ngIf="(charts)">

  <div *ngFor="let chart of charts; trackBy: trackByChanges;" >
    <app-chart [chartData]="chart" [dateFilter]="dateFilter"></app-chart>
  </div>

</div>
<ng-template #loadingCharts>
  Loading charts!
</ng-template>

<ng-template #dateFilterFilled>
  Datefilter Not filled!
</ng-template>
