<app-topbar></app-topbar>
<h1 class="text-center">Dashboard</h1>
<div class="container align-start">
  <div class="row">
    <button (click)="addChart()" class="btn btn-primary col-sm">Add chart</button>
    <input type="text" class="form-control col-sm" placeholder="Chart name" [(ngModel)]="chartName">
    <button (click)="removeChart()" class="btn btn-primary col-sm">Remove chart</button>
  </div>
</div>

<div *ngIf="(charts)">
  <div *ngFor="let chart of charts; trackBy: trackByChanges;">
    <app-chart [chartData]="chart" [dateFilter]="dateFilter" [charts]="charts"></app-chart>
  </div>
</div>
<ng-template #loadingCharts>
  Loading charts!
</ng-template>

<ng-template #dateFilterFilled>
  Datefilter Not filled!
</ng-template>
